.elementor-4888 .elementor-element.elementor-element-6e0d045f>.elementor-container {
    min-height: 100vh;
}

.elementor-4888 .elementor-element.elementor-element-6e0d045f:not(.elementor-motion-effects-element-type-background),
.elementor-4888 .elementor-element.elementor-element-6e0d045f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("images/M.-removebg-preview.png");
    background-position: center center;
    background-size: cover;
}

.elementor-4888 .elementor-element.elementor-element-6e0d045f>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4888 .elementor-element.elementor-element-6e0d045f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4888 .elementor-element.elementor-element-5b14189d>.elementor-element-populated {
    padding: 60px 0px 60px 0px;
}

.elementor-4888 .elementor-element.elementor-element-5b032b47 .pt-title-wrap {
    max-width: 800px;
}

.elementor-4888 .elementor-element.elementor-element-5b032b47 .pt-subtitle {
    font-size: 24px;
    margin: 0px 0px 20px 0px;
}

.elementor-4888 .elementor-element.elementor-element-5b032b47 .pt-title {
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-5b032b47 .pt-title-text {
    font-size: 21px;
}

.elementor-4888 .elementor-element.elementor-element-2d215213 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 110px 0px 120px 0px;
}

.elementor-4888 .elementor-element.elementor-element-2d215213>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4888 .elementor-element.elementor-element-71f78f19 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-10cd1203.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-10cd1203.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-10cd1203.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4888 .elementor-element.elementor-element-5eb74c68 .pt-title-wrap {
    max-width: 660px;
}

.elementor-4888 .elementor-element.elementor-element-5eb74c68 .pt-subtitle {
    font-size: 24px;
}

.elementor-4888 .elementor-element.elementor-element-5eb74c68 .pt-title {
    text-transform: uppercase;
    margin: 5px 0px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-5eb74c68>.elementor-widget-container {
    margin: 0px 0px -25px 0px;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066.elementor-view-framed .elementor-icon,
.elementor-4888 .elementor-element.elementor-element-42b8f066.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066.elementor-view-framed .elementor-icon,
.elementor-4888 .elementor-element.elementor-element-42b8f066.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066 .elementor-icon {
    font-size: 16px;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066 .elementor-icon svg {
    height: 16px;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066>.elementor-widget-container {
    margin: 7px 20px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-42b8f066 {
    width: auto;
    max-width: auto;
}

.elementor-4888 .elementor-element.elementor-element-9d75e90 .pt-title-wrap {
    max-width: 660px;
}

.elementor-4888 .elementor-element.elementor-element-9d75e90 .pt-subtitle {
    color: #F0B551;
    margin: 0px 0px 15px 0px;
}

.elementor-4888 .elementor-element.elementor-element-9d75e90 .pt-title {
    text-transform: uppercase;
    margin: 5px 0px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-9d75e90 {
    width: auto;
    max-width: auto;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9.elementor-view-framed .elementor-icon,
.elementor-4888 .elementor-element.elementor-element-12fffbf9.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9.elementor-view-framed .elementor-icon,
.elementor-4888 .elementor-element.elementor-element-12fffbf9.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9 .elementor-icon {
    font-size: 16px;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9 .elementor-icon svg {
    height: 16px;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9>.elementor-widget-container {
    margin: 7px 0px 0px 20px;
}

.elementor-4888 .elementor-element.elementor-element-12fffbf9 {
    width: auto;
    max-width: auto;
}

.elementor-4888 .elementor-element.elementor-element-4c9cac4a .pt-title-wrap {
    max-width: 660px;
}

.elementor-4888 .elementor-element.elementor-element-4c9cac4a .pt-title {
    text-transform: uppercase;
    margin: 5px 0px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-4c9cac4a>.elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-774e9d75 {
    margin-top: 0px;
    margin-bottom: -50px;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-5aad9c94.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-5aad9c94.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-5aad9c94.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4888 .elementor-element.elementor-element-13154664 img {
    border-radius: 50% 50% 50% 50%;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-773fa87.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-773fa87.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-773fa87>.elementor-element-populated {
    padding: 0px 60px 0px 60px;
}

.elementor-4888 .elementor-element.elementor-element-7436c52c .pt-fc-info-text {
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

.elementor-4888 .elementor-element.elementor-element-70b10027 {
    margin-top: 0px;
    margin-bottom: -50px;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-28263d7f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-28263d7f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-28263d7f>.elementor-element-populated {
    padding: 0px 60px 0px 60px;
}

.elementor-4888 .elementor-element.elementor-element-56bca662 .pt-fc-info-text {
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-4556d611.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-4556d611.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-4556d611.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4888 .elementor-element.elementor-element-594e1d1 img {
    border-radius: 50% 50% 50% 50%;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-42afb0fc.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-42afb0fc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-42afb0fc.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4888 .elementor-element.elementor-element-51128427 img {
    border-radius: 50% 50% 50% 50%;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-336e8889.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-336e8889.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-336e8889>.elementor-element-populated {
    padding: 0px 60px 0px 60px;
}

.elementor-4888 .elementor-element.elementor-element-1ceb3ea3 .pt-fc-info-text {
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

.elementor-4888 .elementor-element.elementor-element-3b222aa5 {
    margin-top: -50px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-4ae8c0ce.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-4ae8c0ce.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-4ae8c0ce>.elementor-element-populated {
    padding: 0px 60px 0px 60px;
}

.elementor-4888 .elementor-element.elementor-element-7ec25a7c .pt-fc-info-text {
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-28402d3f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-28402d3f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-28402d3f.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4888 .elementor-element.elementor-element-7bac1dfb img {
    border-radius: 50% 50% 50% 50%;
}

.elementor-4888 .elementor-element.elementor-element-113c1774 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4888 .elementor-element.elementor-element-113c1774>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4888 .elementor-element.elementor-element-570e3c1c .pt-subtitle {
    font-size: 20px;
}

.elementor-4888 .elementor-element.elementor-element-570e3c1c .pt-title {
    text-transform: uppercase;
    margin: 5px 0px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-570e3c1c>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-4888 .elementor-element.elementor-element-35df6dd3 .pt-food-menu-title {
    color: #E6E6E6;
    font-family: "Jost", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-35df6dd3 .pt-food-menu-price {
    line-height: 1.35em;
}

.elementor-4888 .elementor-element.elementor-element-7c6e09c3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 110px 0px;
}

.elementor-4888 .elementor-element.elementor-element-7c6e09c3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4888 .elementor-element.elementor-element-22e338d5.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4888 .elementor-element.elementor-element-663bda30 .pt-subtitle {
    font-size: 20px;
}

.elementor-4888 .elementor-element.elementor-element-663bda30 .pt-title {
    text-transform: uppercase;
    margin: 5px 0px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-663bda30>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-4888 .elementor-element.elementor-element-16f62037 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-4888 .elementor-element.elementor-element-3e8b7249>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-59a2daed .pt-subtitle {
    font-size: 28px;
}

.elementor-4888 .elementor-element.elementor-element-59a2daed>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-4888 .elementor-element.elementor-element-59a8ad69 .pt-food-menu-group span {
    border-style: solid;
}

.elementor-4888 .elementor-element.elementor-element-59a8ad69 .pt-food-menu-title {
    color: #E6E6E6;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-12480793 .pt-subtitle {
    font-size: 28px;
}

.elementor-4888 .elementor-element.elementor-element-12480793>.elementor-widget-container {
    margin: 47px 0px 10px 0px;
}

.elementor-4888 .elementor-element.elementor-element-14fb4763 .pt-food-menu-group span {
    border-style: solid;
}

.elementor-4888 .elementor-element.elementor-element-14fb4763 .pt-food-menu-title {
    color: #E6E6E6;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-71b87ab6>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-4888 .elementor-element.elementor-element-11961960 .pt-subtitle {
    font-size: 28px;
}

.elementor-4888 .elementor-element.elementor-element-11961960>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-4888 .elementor-element.elementor-element-3de39247 .pt-food-menu-group span {
    border-style: solid;
}

.elementor-4888 .elementor-element.elementor-element-3de39247 .pt-food-menu-title {
    color: #E6E6E6;
    font-family: "Jost", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-46a3a8da>.elementor-widget-container {
    margin: 0px 5px 10px 5px;
}

.elementor-4888 .elementor-element.elementor-element-46a3a8da {
    width: auto;
    max-width: auto;
}

.elementor-4888 .elementor-element.elementor-element-2fa93bbc>.elementor-widget-container {
    margin: 0px 5px 10px 5px;
}

.elementor-4888 .elementor-element.elementor-element-2fa93bbc {
    width: auto;
    max-width: auto;
}

.elementor-4888 .elementor-element.elementor-element-2eb1fbd7 .elementor-wrapper {
    --video-aspect-ratio: 2.33333;
}

.elementor-4888 .elementor-element.elementor-element-63fe1d5a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px;
}

.elementor-4888 .elementor-element.elementor-element-63fe1d5a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-334da0b1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-334da0b1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-334da0b1>.elementor-element-populated {
    padding: 0px 60px 0px 0px;
}

.elementor-4888 .elementor-element.elementor-element-35ec7de1 .pt-subtitle {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
}

.elementor-4888 .elementor-element.elementor-element-35ec7de1 .pt-title {
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-35ec7de1 .pt-title-btn {
    margin: 25px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-ea97f5d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-ea97f5d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-24627212>.elementor-widget-container {
    margin: 0px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-4a78a5bd.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-4888 .elementor-element.elementor-element-4a78a5bd.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-4888 .elementor-element.elementor-element-686ab28b>.elementor-widget-container {
    margin: 0% 0% 0% -43%;
}

.elementor-4888 .elementor-element.elementor-element-3dc4b86f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 120px 0px;
}

.elementor-4888 .elementor-element.elementor-element-3dc4b86f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-5ee8978b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-5ee8978b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-4888 .elementor-element.elementor-element-482cdc9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-482cdc9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4888 .elementor-element.elementor-element-482cdc9>.elementor-element-populated {
    padding: 0px 0px 0px 60px;
}

.elementor-4888 .elementor-element.elementor-element-da38331 .pt-subtitle {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
}

.elementor-4888 .elementor-element.elementor-element-da38331 .pt-title {
    text-transform: uppercase;
}

.elementor-4888 .elementor-element.elementor-element-da38331 .pt-title-btn {
    margin: 25px 0px 0px 0px;
}

body.elementor-page-4888:not(.elementor-motion-effects-element-type-background),
body.elementor-page-4888>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://patiotime.loftocean.com/demo6/wp-content/uploads/sites/4/2022/04/section-bg-6-large-4.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media(min-width:768px) {
    .elementor-4888 .elementor-element.elementor-element-5aad9c94 {
        width: 55%;
    }
    .elementor-4888 .elementor-element.elementor-element-773fa87 {
        width: 45%;
    }
    .elementor-4888 .elementor-element.elementor-element-28263d7f {
        width: 45%;
    }
    .elementor-4888 .elementor-element.elementor-element-4556d611 {
        width: 55%;
    }
    .elementor-4888 .elementor-element.elementor-element-42afb0fc {
        width: 55%;
    }
    .elementor-4888 .elementor-element.elementor-element-336e8889 {
        width: 45%;
    }
    .elementor-4888 .elementor-element.elementor-element-4ae8c0ce {
        width: 45%;
    }
    .elementor-4888 .elementor-element.elementor-element-28402d3f {
        width: 55%;
    }
    .elementor-4888 .elementor-element.elementor-element-334da0b1 {
        width: 45%;
    }
    .elementor-4888 .elementor-element.elementor-element-ea97f5d {
        width: 55%;
    }
    .elementor-4888 .elementor-element.elementor-element-5bacbf9d {
        width: 60%;
    }
    .elementor-4888 .elementor-element.elementor-element-4a78a5bd {
        width: 40%;
    }
    .elementor-4888 .elementor-element.elementor-element-5ee8978b {
        width: 55%;
    }
    .elementor-4888 .elementor-element.elementor-element-482cdc9 {
        width: 45%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4888 .elementor-element.elementor-element-3e8b7249 {
        width: 100%;
    }
    .elementor-4888 .elementor-element.elementor-element-71b87ab6 {
        width: 100%;
    }
    .elementor-4888 .elementor-element.elementor-element-334da0b1 {
        width: 100%;
    }
    .elementor-4888 .elementor-element.elementor-element-ea97f5d {
        width: 100%;
    }
    .elementor-4888 .elementor-element.elementor-element-5ee8978b {
        width: 100%;
    }
    .elementor-4888 .elementor-element.elementor-element-482cdc9 {
        width: 100%;
    }
}

@media(min-width:1025px) {
    body.elementor-page-4888:not(.elementor-motion-effects-element-type-background),
    body.elementor-page-4888>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-4888 .elementor-element.elementor-element-2d215213 {
        padding: 80px 0px 80px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-9d75e90 .pt-title {
        font-size: 46px;
    }
    .elementor-4888 .elementor-element.elementor-element-774e9d75 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .elementor-4888 .elementor-element.elementor-element-773fa87>.elementor-element-populated {
        padding: 0px 0px 0px 40px;
    }
    .elementor-4888 .elementor-element.elementor-element-70b10027 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .elementor-4888 .elementor-element.elementor-element-28263d7f>.elementor-element-populated {
        padding: 0px 40px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-336e8889>.elementor-element-populated {
        padding: 0px 0px 0px 40px;
    }
    .elementor-4888 .elementor-element.elementor-element-3b222aa5 {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-4ae8c0ce>.elementor-element-populated {
        padding: 0px 40px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-570e3c1c .pt-title {
        font-size: 46px;
    }
    .elementor-4888 .elementor-element.elementor-element-35df6dd3 .pt-food-menu-title {
        font-size: 18px;
    }
    .elementor-4888 .elementor-element.elementor-element-35df6dd3 .pt-food-menu-price {
        font-size: 18px;
    }
    .elementor-4888 .elementor-element.elementor-element-7c6e09c3 {
        padding: 80px 0px 80px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-22e338d5>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-663bda30 .pt-title {
        font-size: 46px;
    }
    .elementor-4888 .elementor-element.elementor-element-16f62037 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .elementor-4888 .elementor-element.elementor-element-3e8b7249>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-71b87ab6>.elementor-element-populated {
        margin: 65px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-63fe1d5a {
        padding: 80px 0px 80px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-334da0b1>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-3dc4b86f {
        padding: 0px 0px 80px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-482cdc9>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-4888 .elementor-element.elementor-element-2d215213 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-9d75e90 .pt-title {
        font-size: 34px;
    }
    .elementor-4888 .elementor-element.elementor-element-773fa87>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-28263d7f>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-336e8889>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-4ae8c0ce>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-570e3c1c .pt-subtitle {
        font-size: 16px;
    }
    .elementor-4888 .elementor-element.elementor-element-7c6e09c3 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-663bda30 .pt-subtitle {
        font-size: 16px;
    }
    .elementor-4888 .elementor-element.elementor-element-59a8ad69 .pt-food-menu-price {
        line-height: 1.35em;
    }
    .elementor-4888 .elementor-element.elementor-element-14fb4763 .pt-food-menu-price {
        line-height: 1.35em;
    }
    .elementor-4888 .elementor-element.elementor-element-3de39247 .pt-food-menu-price {
        line-height: 1.35em;
    }
    .elementor-4888 .elementor-element.elementor-element-2eb1fbd7 .elementor-custom-embed-play i {
        font-size: 48px;
    }
    .elementor-4888 .elementor-element.elementor-element-2eb1fbd7 .elementor-custom-embed-play svg {
        width: 48px;
        height: 48px;
    }
    .elementor-4888 .elementor-element.elementor-element-63fe1d5a {
        padding: 60px 0px 60px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-35ec7de1 .pt-subtitle {
        font-size: 16px;
    }
    .elementor-4888 .elementor-element.elementor-element-24627212>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-4a78a5bd>.elementor-element-populated {
        padding: 10px 0px 0px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-686ab28b>.elementor-widget-container {
        margin: 0% 0% 0% 0%;
    }
    .elementor-4888 .elementor-element.elementor-element-3dc4b86f {
        padding: 0px 0px 60px 0px;
    }
    .elementor-4888 .elementor-element.elementor-element-da38331 .pt-subtitle {
        font-size: 16px;
    }
}