.elementor-5089 .elementor-element.elementor-element-2b92880>.elementor-container {
    max-width: 1600px;
}

.elementor-5089 .elementor-element.elementor-element-2b92880 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF1F;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-5089 .elementor-element.elementor-element-2b92880>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-5089 .elementor-element.elementor-element-0072273.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-0072273.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-1e7c728>.elementor-widget-container {
    margin: 0px 0px 0px -15px;
}

.elementor-bc-flex-widget .elementor-5089 .elementor-element.elementor-element-e452b01.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-e452b01.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-1f3c98e img {
    width: 42px;
}

.elementor-bc-flex-widget .elementor-5089 .elementor-element.elementor-element-ff5db80.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-ff5db80.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-ff5db80.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-5089 .elementor-element.elementor-element-ff5db80>.elementor-element-populated {
    color: #FFFFFF;
}

.elementor-5089 .elementor-element.elementor-element-236826f ul.social-nav li a:before {
    font-size: 16px;
}

.elementor-5089 .elementor-element.elementor-element-236826f {
    width: auto;
    max-width: auto;
}

.elementor-5089 .elementor-element.elementor-element-780357d>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-5089 .elementor-element.elementor-element-780357d {
    width: auto;
    max-width: auto;
}

.elementor-5089 .elementor-element.elementor-element-eba66a5>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-5089 .elementor-element.elementor-element-eba66a5 {
    width: auto;
    max-width: auto;
}

.elementor-5089 .elementor-element.elementor-element-ead99e7>.elementor-container {
    max-width: 1600px;
}

.elementor-5089 .elementor-element.elementor-element-ead99e7 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF1F;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-5089 .elementor-element.elementor-element-ead99e7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-5089 .elementor-element.elementor-element-eabd001.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-eabd001.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-eabd001>.elementor-element-populated {
    color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-5089 .elementor-element.elementor-element-fa08576.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-fa08576.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-8cd8a1a img {
    width: 42px;
}

.elementor-bc-flex-widget .elementor-5089 .elementor-element.elementor-element-a60cd1a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-a60cd1a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5089 .elementor-element.elementor-element-a60cd1a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-5089 .elementor-element.elementor-element-a60cd1a>.elementor-element-populated {
    color: #FFFFFF;
}

.elementor-5089 .elementor-element.elementor-element-d9baf2c>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-5089 .elementor-element.elementor-element-d9baf2c {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-5089 .elementor-element.elementor-element-6b08bb3>.elementor-widget-container {
        margin: 0px 0px 0px -12px;
    }
    .elementor-5089 .elementor-element.elementor-element-8cd8a1a img {
        width: 36px;
    }
}

@media(min-width:768px) {
    .elementor-5089 .elementor-element.elementor-element-0072273 {
        width: 43%;
    }
    .elementor-5089 .elementor-element.elementor-element-e452b01 {
        width: 13.954%;
    }
    .elementor-5089 .elementor-element.elementor-element-ff5db80 {
        width: 43%;
    }
    .elementor-5089 .elementor-element.elementor-element-eabd001 {
        width: 39.99%;
    }
    .elementor-5089 .elementor-element.elementor-element-fa08576 {
        width: 19.655%;
    }
    .elementor-5089 .elementor-element.elementor-element-a60cd1a {
        width: 39.991%;
    }
}

@media(max-width:767px) {
    .elementor-5089 .elementor-element.elementor-element-eabd001 {
        width: 40%;
    }
    .elementor-5089 .elementor-element.elementor-element-fa08576 {
        width: 20%;
    }
    .elementor-5089 .elementor-element.elementor-element-a60cd1a {
        width: 40%;
    }
}